body {
  background-color: #fffcff;
  color: #24292e;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  color: #fffcff;
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  background-color: #93a8ac;
}

.navbar-brand {
  color: #24292e;
}

.card {
  width: 18rem;
}
